extends layout

block navbar
  h5 barra de navegacion

block content
  h1= title
  p Welcome to #{title}
  img(src="../public/images/paisaje1.jpg", alt="foto1")

block sidebar
  .widget
    h1 Widget
    p
      | Hola  cabros del facebook

