extends layout

block navbar
  h2 barra de navegacion

block content
  h1= title
  p Welcome to #{title}
block fondo 1
  h3 hola 
  img.fondo#id-fondo1(src="../public/images/paisaje1.jpg", alt="fondo1")
block sidebar
  .widget
    h1 Widget
    p
      | Hola  cabros del facebook


