doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')    
  nav
    block navbar
  body
    header
      h3 Mi sitio
    .container
        img
       .main-content
         block content
        .sidebar
          block sidebar
    footer
      p Fin de Mi pagina
      span Copyright 


    
