doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')    
  nav
    .row.container
      block navbar
  body
    div.row.container  
    header
      .container
        div.row.container
          block fondo 1
            a: img.fondo#id-fondo1(src="../public/images/paisaje1.jpg", alt="fondo1")
          .main-content
            block content
          block fondo 2
            img.fondo#id-fondo2(src="../public/images/paisaje2.jpg", alt="fondo2")
          .sidebar
            block sidebar
          block fondo 3 
            img.fondo#id-fondo3
    footer
      div.row.container
        p Fin de Mi pagina
        span Copyright 


    
